{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div>
        <h2>Simple Web App MVC</h2>

        <div class="jumbotron">
            <h3>{{ message_short }}</h3>
            <p>{{ message_long }}</p>
        </div>
    </div>
{% endblock %}
