###> symfony/framework-bundle ###
/.env.*
/public/bundles/
/var/
/vendor/

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml

###> symfony/web-server-bundle ###
/.web-server-pid
